.main-tables-container {
  justify-content: center;
}
.main-features-container .main-cards-container {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 940px;
}
.bitcoin-img-container h2 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
}
.main-plans-container .plans-cards-slider {
  justify-content: center;
}